<head>
	
	<title>Registreerimine | Tagasi Kooli</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<h1 style="text-align:center">Vabad loenguajad</h1>
		<div id="instructions" class="paper">
		<p style="padding-top: 2cm"></p>
			<h2 >Vali sobiv loenguaeg</h2>
			
<p style=" font-weight: bold;">17.03.2019 kell 15.30 - 16.15 VHK auditoorium nr 3 <input id="registreerija" placeholder="Registreeri"/></p>
<p>18.03.2019 kell 14:00 - 14.45 Inglise Kolledž suur saal <input id="registreerija" placeholder="Registreeri"/></p>

</body>

<hr>	<!--see tekitab page brake-i -->

<body>
	<h2>Soovid sisestada vaba loenguaega? </h2>

<form>
<input id="kuupaev" placeholder="Loengu kuupäev">
<input id="kellaaeg" placeholder="Loengu kellaaeg">
<input id="kool" placeholder="Sisesta kooli nimi">
<input id="koht" placeholder="Loengu toimumise ruum">
<input id="teema" placeholder="Loengu teema">
</form>
</div>​

<p style="text-align:center"> See leht on koostatud hariduslikul eesmärgil ning on saadaval kõigile tasuta!</p>
	
	<script src="script.js"></script>
	</body>



