body {
	background-color: #f5f5f5;
}

h1 {
	background-image: url("taust.jpg");
	padding: 0;
	height: 200px;
	width: 1920;
	 line-height: 100px
}

input {
	border-radius: 5px;
}

body, html {
  height: 100%;
}

.paper {
    padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::before {
	content:""; 
	z-index:-1; 
	margin:0 1px; 
	width:706px; 
	height:10px; 
	position:absolute; 
	bottom:-3px; left:0; 
	background:white; 
	border:1px solid #B5B5B5;
}
.paper::after {
	content:''; 
	position:absolute; 
	width:0px; 
	top:0; 
	left:39px; 
	bottom:0; 
	border-left:1px solid #F8D3D3;
}