<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registreerimine | Tagasi Kooli</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1 style="text-align:center">Vabad loenguajad</h1>
<div id="instructions" class="paper"></div>
<p style="padding-top: 1cm"></p>
<h2>Soovid sisestada vaba loenguaega? </h2>

<form>
    <input type="date" id="kuupaev" placeholder="Loengu kuupäev">
    <input type="time" id="algusaeg" placeholder="Loengu algusaeg">
    <input type="time" id="lopuaeg" placeholder="Loengu lõpuaeg">
    <input id="kool" placeholder="Sisesta kooli nimi">
    <input id="aadress" placeholder="Aadress">
    <input id="linnmk" placeholder="Linn/maakond">
    <input id="teema" placeholder="Loengu teema">
    <input id="klass" placeholder="Mitmes klass">
    <input id="opilastearv" placeholder="Õpilastearv">
    <input id="kontaktisik" placeholder="Kontaktisiku nimi">
    <input id="kontaktemail" placeholder="Kontaktisiku email">
    <input id="kontaktnumber" placeholder="Kontaktisiku telefon">
    <input type="submit">
</form>

<h2>Vali sobiv loenguaeg</h2>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
 }
  th, td {
  padding: 5px;
 }
</style>

<div id="loengukoht"></div>

<p style="text-align:center"> See leht on koostatud hariduslikul eesmärgil ning on saadaval kõigile tasuta!</p>

<script src="script.js"></script>
</body>



